<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{teacher}}</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body>
<h1>Details of {{teacher}}</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{teacher.first_name}} {{teacher.last_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{teacher.gender}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{teacher.class}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">List of Students</h6>
      <ol>
          {% for student in students %}
            <li>{{student}}</li>
          {% endfor %}
      </ol>

    <a href="{% url 'teacher_homepage' %}" class="card-link">List of teachers</a>

  </div>
</div>

</body>
</html>